<div id="<%= dom_id progress %>" class="flex flex-wrap w-full items-center border-b border-stone bg-stone cursor-move">
  <h6 class="font-normal tracking-wider pl-2 text-graphite font-sister text-lg uppercase">
    <%= progress.name %>
  </h6>
  <span class="py-2 px-4 h-full bg-dark-secondary text-graphite ml-auto text-black font-medium text-center flex items-center text-lg">
    (<%= pluralize(progress.user_courses.where(user: current_user).count, 'course') %>)
  </span>
</div>

<div class="relative flex-grow max-w-full">
  <div
    class="absolute left-0 top-0 h-full overflow-auto px-2 flex flex-col w-full max-w-full" data-controller="sortable"
    data-sortable-group-value="progress"
    data-sortable-progress-id="<%= progress.id %>"
  >
    <% progress.user_courses.where(user: current_user).rank(:row_order).each do |user_course| %>
      <div
        data-sortable-id="<%= user_course.id %>"
        data-sortable-update-url="<%= sort_user_course_path(user_course) %>"
        data-sortable-progress-status="<%= user_course.progress_status %>"
        <% if user_course.progress_status == "completed"%>
          class="pointer-events-none"
        <% end %>
        >
          <%= render user_course %>
      </div>  
    <% end %>
  </div>
</div>
