<div id="<%= dom_id progress %>">

<div class="flex flex-col flex-shrink-0 w-72">
  <div class="flex items-center flex-shrink-0 h-10 px-2">
    <span class="block text-sm font-semibold"><%= progress.name %></span>
    <span class="flex items-center justify-center w-5 h-5 ml-2 text-sm font-semibold text-indigo-500 bg-white rounded bg-opacity-30"><%= progress.assigned_courses.where(user: current_user).count %></span>
    <!--button class="flex items-center justify-center w-6 h-6 ml-auto text-indigo-500 rounded hover:bg-indigo-500 hover:text-indigo-100">
      <svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
      </svg>
    </button-->
  </div>
  <div
    data-controller="sortable"
    data-sortable-group-value="progress"
    data-sortable-progress-id="<%= progress.id %>"
    class="flex flex-col pb-2 overflow-auto p-4 mb-6 space-y-6 bg-offWhite rounded-xl"
    >
    <% progress.assigned_courses.where(user: current_user).rank(:row_order).each do |assigned_course| %>
      <div
        data-sortable-id="<%= assigned_course.id %>"
        data-sortable-update-url="<%= sort_assigned_course_path(assigned_course) %>"
        data-sortable-progress-status="<%= assigned_course.progress_status %>"
        <% if assigned_course.progress_status == 'completed' %>
          class="pointer-events-none"
        <% end %>
        >
          <%= render assigned_course %>
      </div>  
    <% end %>
  </div>
</div>
</div>
