<div id="<%= dom_id lesson %>">
  <div class="col-span-1 bg-white group">
    <div class="h-48 lg:h-64 w-full relative overflow-hidden">
      <p class="absolute top-4 left-4 z-10 bg-white rounded-md px-2 py-1 text-sm font-normal text-slate-800 capitalize"><%= lesson.paid? ? "Premium" : "Free" %></p>
      
      <% if lesson.video.present? %>
        <%= image_tag lesson.video.preview(:thumb), class: "h-full w-full"%>
      <% else %>
        <%= image_tag "https://via.placeholder.com/380x120", class: "h-full w-full group-hover:scale-110 transition-all duration-500" %>
      <% end %>
    </div>
    
    <div class="px-4 lg:px-8 py-4 lg:py-6 space-y-2">
      <div class="flex flex-row gap-x-4">
        <%= icon "fa-solid", "lock", class: "text-gray-600 text-md" if lesson.paid? %>
        <%= link_to lesson.title, super_admin_course_lessons_path(lesson), class: "flex items-center justify text-lg font-semibold text-gray-800 hover:text-green-700 text-left" %>
      </div>
    </div>
  </div>
</div>
