<section>
  <div class="w-full mx-auto px-8 p-24 text-left md:text-center">
    <p class="text-4xl lg:text-7xl tracking-tighter text-graphite font-medium">
      <span>The</span>
      <span class="underlined font-sister uppercase hover:text-coral hover:font-medium tracking-normal hover:tracking-widest hover:-rotate-2 active:-rotate-3d">Trophy</span>
      <span class="font-sister">Rack</span>
      <span class="lg:block"></span>
    </p>
    <p class="md:mt-4 tracking-wide text-graphite font-normal">
      Earn points and level up trophy per category your everytime you
      <span class="font-sister tracking-wide text-xl text-graphite">completed</span>
      a course.
    </p>
  </div>
</section>

<section class="grid grid-cols-1 sm:grid-cols-3 gap-2">
  <% @trophies.each do |trophy| %>
  <div class="bg-graphite shadow-lg rounded p-6 group">
    <div class="relative flex inline-flex text-center">
      <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
        <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
        <%= image_tag "trophy/management.png", class: "w-full md:w-72 block rounded" %>
      </div>
    </div>
    <div class="p-5 group-hover:scale-110 transition-transform">
      <h3 class="text-white text-xl lg:text-2xl uppercase font-sister tracking-widest"><%= trophy.name.gsub('_skill', '') %></h3>
      <p class="text-offWhite uppercase">Level <%= trophy.level.lvl %></p>
      <p class="text-offWhite font-sister"><%= trophy.level.points %>/ <span class="text-paleFern "><%= trophy.level.next_level_threshold %></span> TP</p>
    </div>
  </div>
  <% end %>
</section>
