<%= content_for(:title, @course.title) %>

<div class="py-12">
  <div class="mx-auto max-w-7xl">
    <div class="mx-auto w-full">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>

      <%- if @course.lessons.any? && @course.lessons.first.video.present? %>
        <%= video_tag @course.lessons.first.video, controls: true, class: "w-full rounded mb-6" %>
      <%- elsif @course.image.present? %>
        <%= image_tag @course.image, class: 'w-full rounded-t' %>
      <% else %>
        <%= image_tag "https://via.placeholder.com/380x120", class: "w-full h-auto sm:rounded-se-none" %>
      <% end %>

      <div class="border p-6 rounded">
        <span><%= pluralize(@course.lessons.count, 'lesson') %> </span>
        <h1 class="text-7xl font-bold tracking-tighter"><%= @course.title %></h1>
        <p class="text-gray-950 mt-6 text-xl tracking-normal leading-relaxed"><%= @course.description %></p>
      </div>
    </div>

    <div>
      <%= render "sidebar" %>
    </div>
  </div>
</div>

<% if UserCourse.exists?(user: current_user, course_id: @course.id) %>
  <p class="text-md font-semibold">You have already enrolled in this course.</p>
<% else %>
  <%= form_tag user_courses_path(course_id: @course.id), method: :post, class: "inline-form", data: { turbo_frame: "course-form" } do %>
    <%= button_tag "Get Course", type: :submit, class: "rounded-sm bg-black px-3.5 py-2.5 text-sm border-2 border-black font-semibold text-white shadow-sm hover:bg-white hover:text-black hover:border-2 hover:border-black w-full" %>
  <% end %>
<% end %>
