<% @certificates.each do |certificate| %>
  <div class="group">
    <div id="<%= dom_id certificate %>" class="hover:opacity-80 duration-200">
      <div class="border border-zinc-800 overflow-hidden rounded-3xl">
        <%= image_tag certificate.file, alt: certificate.title, style: "height: 400px;" %>
      </div>
    </div>
    <div class="flex flex-col mt-2 text-center">
      <p class="text-graphite text-md font-sister capitalize"><%= certificate.title %></p>
      <p class="text-lightGraphite text-xs mt-1 uppercase">
        <%= certificate.date_awarded.strftime("%B %d, %Y") %> &#x2022; <%= certificate.source %>
      </p>
      <p class="text-graphite text-xs uppercase hover:tracking-wide hover:text-paleFern">
        <%= link_to "Edit here", edit_certificate_path(certificate) if certificate.user == current_user && current_page?(certificates_path) %>
        <%= link_to "Delete", certificate, data: { turbo_method: :delete } if user_signed_in? && current_user.admin? %>
      </p>
    </div>
  </div>
<% end %>