<%= content_for(:title, "New certificate") %>

<section>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="divide-y-2 divide-black">
      <div class="justify-center max-w-3xl p-8 lg:p-20">
        <p class="text-5xl lg:text-7xl text-black">Add certificate</p>
        <p class="mt-1 text-sm leading-6 text-gray-600">This information will be displayed in your Seiko board.</p>
      </div>
      <div class="divide-y-2 divide-black">
        <%= form_with(model: @certificate) do |form| %>
          <%= render "devise/shared/error_messages", resource: @certificate %>
          <div class="p-8 lg:p-20">
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

              <div class="col-span-full">
                <%= form.label :title, "Certificate title", class: "block text-sm font-medium leading-6 text-gray-900" %>
                <div class="mt-2">
                  <%= form.text_field :title, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                </div>
              </div>

              <div class="col-span-full">
                <%= form.label :source, "", class: "block text-sm font-medium leading-6 text-gray-900" %>
                <div class="mt-2">
                  <%= form.collection_select :source, Certificate.sources.keys, :to_s, :humanize, {}, { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" } %>
                </div>
              </div>

              <div class="col-span-full">
                <%= form.label :date_awarded, "", class: "block text-sm font-medium leading-6 text-gray-900" %>
                <div class="mt-2">
                  <%= form.date_field :date_awarded, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                </div>
              </div>

              <div class="col-span-full">
                <%= form.label :file, "Upload your certificate", class: "block mb-2 text-sm font-medium text-gray-900" %>
                <div class="mt-2 space-y-2">
                  <%= form.file_field :file, class: "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none" %>
                  <span class="text-sm text-gray-500">Images(JPEG/PNG) & PDF are the allowed file format.</span>
                </div>
              </div>

            </div>
            <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8 mt-4">
              <%= link_to "Cancel", certificates_path, class: "text-sm font-semibold leading-6 text-gray-900 hover:text-gray-500" %>

              <%= form.submit class: "rounded-md bg-graphite px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-paleFern focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>