<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:sa_title) || "Superadmin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-jetbrains">
    
    <div aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6 z-50">
      <%= turbo_frame_tag 'flash', class: "flex w-full flex-col items-center space-y-4 sm:items-end" do %>
        <%= render 'layouts/flash' %>
      <% end %>
    </div>
    
    <%= render "super_admin/sidenav" %>
    <main class="py-10 lg:pl-64"> 
      <%= yield %>


      <% if Rails.env.in?(%w[development test]) %>
        <div class="fixed left-0 top-0 z-50 flex w-[30px] items-center justify-center bg-gray-200 py-[2.5px] text-[12px] uppercase text-black sm:bg-red-200 md:bg-yellow-200 lg:bg-green-200 xl:bg-blue-200 2xl:bg-pink-200">
          <span class="block sm:hidden">all</span>
          <span class="hidden sm:block md:hidden">sm</span>
          <span class="hidden md:block lg:hidden">md</span>
          <span class="hidden lg:block xl:hidden">lg</span>
          <span class="hidden xl:block 2xl:hidden">xl</span>
          <span class="hidden 2xl:block">2xl</span>
        </div>
      <% end %>
    </main>
  </body>
</html>
